{% extends 'base.html' %}

{% block title %}About Us - TechBazaar{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="display-4 mt-5 mb-3">About TechBazaar</h1>
                <p class="lead">Your ultimate destination for all things tech!</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card bg-light p-3">
                    <p class="mb-3">TechBazaar is your one-stop shop for the latest and greatest in technology. Whether you're looking for a powerful gaming PC, a sleek laptop for work, or cutting-edge gadgets, we've got you covered.</p>
                    <p class="mb-3">Our mission is to provide our customers with top-quality products, excellent customer service, and a seamless shopping experience. With a wide selection of products from leading brands, competitive prices, and fast shipping, we strive to make TechBazaar your go-to destination for all your tech needs.</p>
                    <p class="mb-0">Explore our website today and discover the world of possibilities that technology has to offer!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}